@media screen and (min-width: 576px) and (max-width: 992px) {

    .header-body{
        width: 100%;
        margin: 0px auto;
    }

    /* banner section style */
    .banner-content{
        display: flex;
        flex-direction: column;
    }
    .banner-text{
        width: 100%;
        margin-left: 10px;
    }
    .banner-text h1{
        width: 100%;
        margin: 20px auto;
    }
    .banner-btn{
        width: 100%;
    }
    .banner-btn > .btn-primary,.btn-secondary{
        width: 45%;
        margin: 0px 8px;
    }

    .banner-image  {
        width: 50%;
        margin: 0px auto;
        position: relative;
    }

    .banner-card1{
        position: absolute;
        top: 4rem;
        right:-15%;
        left: 55%;
    }
    .banner-card2{
        position: absolute;
        bottom: 10rem;
        right: 62%;
        left: -20%;

    }

    .card2-icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* Habbit style end */

    .habbit-content h2{
        width: 100%;
        height: auto;
        text-align: center;
    }
    .habbit-content p{
        width: 70%;
        height: auto;
        margin: 0 auto;
        font-size: 24px;
        text-align: center;
    }

    .habbit-card{
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .habbit-card-item{
        width: 100%;
        height: auto;
    }
    .habbit-card-item img{
        width: 80%;
        margin: 0px auto 14px;
    }
    .habbit-card-item h6{  
        font-size: 28px;    
        font-weight: 600;
    }
    .habbit-card-item p{ 
        font-size: 24px;    
    }


    /* Habbit style end */


    /* Run section style end */
    .run-container-image img{
        width: 80%;
    }

    /* Run section style end */

       /* BMI style start */

    .BMI-content{
        width: 100%;
        height: auto;
        margin: 0px auto;
    }

    .BMI-content p{
        width: 80%;
        height: auto;
    }
    .BMI-card{
        width: 100%;
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .BMI-text h4{
        margin-left: 1rem;
    }
    .BMI-chart{
        width: 50%;
        margin: 0px;
        padding-left: 1rem;
    }

    .BMI-input{
        width: 95%;
        margin: 2rem 1rem;
    }


    /* BMI style start */

/* footer style start */
    .footer-container{
        width: 100%;
        height: auto;
        margin: 0px auto;
        display: grid;
        grid-template-columns: repeat(12,1fr);
        justify-content: space-between;
        gap: 24px;
    }
    
    .footer-card-1{
        grid-column: span 12;
        width: 100%;
        padding: 2rem;
    }
.footer-card-2,.footer-card-3{
        grid-column: span 6;
        width: 100%;
        padding: 2rem;
    }

/* footer style end */
}