@media screen and (max-width: 576px) {

    .header-body{
        width: 95%;
        margin: 0px auto;
    }
    .btn-R {
        display: block;
    }

    .nav-option {
        display: none;
    }

    /* banner section style */
    .banner-content{
        display: flex;
        flex-direction: column;

    }
    .banner-text{
        width: 100%;
        margin-left: 10px;
    }
    .banner-text h1{
        width: 100%;
        margin: 20px auto;
    }
    .banner-btn{
        width: 100%;
    }
    .banner-btn > .btn-primary,.btn-secondary{
        width: 45%;
        margin: 0px 8px;
    }

    .banner-image {
        width: 100%;
        margin: 0px auto;
        position: relative;
    }

    .banner-image img {
        width: 100%;
        margin: 0px auto;
    }

    .banner-card1{
        position: absolute;
        top: 4rem;
        right:0%;
        left:50%;
    }
    .banner-card2{
        position: absolute;
        bottom:17rem;
        left: 0%;

    }
    .card2-icon{
        display: flex;
        justify-content: center;
        align-items: center;
    }

/* Habbit style end */

    .habbit-content h2{
        width: 100%;
        height: auto;
        font-size: 38px;
        margin: 0 auto;
        text-align: center;
    }
    .habbit-content p{
        width: 100%;
        height: auto;
        font-size: 20px;
        text-align: center;
    }

    .habbit-card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
    }
    .habbit-card-item{
        width: 100%;
        height: auto;
    }
    .habbit-card-item img{
        width: 80%;
        margin: 0px auto 14px;
    }
    .habbit-card-item h6{  
        font-size: 28px;    
        font-weight: 600;
    }
    .habbit-card-item p{ 
        font-size: 24px;    
    }


    /* Habbit style end */

    /* Run section style end */

    .run-content{
        width: 95%;
        margin: 0px auto;
        display: flex;
        flex-direction: column;

    }

    .run-container-text{
        width: 100%;
        margin: 0px auto;
        text-align: left;
    }
    .run-container-text button{
        width: 100%;
        margin: 0px auto;
        font-size: 18px;
        font-weight: 600;
    }
    
    /* Run section style end */

    /* TTraining section style start */

    .Training-card {
        display: grid;
        grid-template-columns: repeat(12, 1fr);
        grid-template-rows: repeat(12, 1fr);
        gap: 0px;
    }

    .Training-card-item-1 {
        grid-column: span 5;
        grid-row: span 4;
        
    }
    
    .Training-card-item-2 {
        grid-column: span 7;
        grid-row: span 4;
    }
    
    .Training-card-item-3 {
        grid-column: span 4;
        grid-row: span 4;
    }
    
    .Training-card-item-4 {
        grid-column: span 8;
        grid-row: span 4;
    }
    
    .Training-card-item-5 {
        grid-column: span 6;
        grid-row: span 4;
    }
    
    .Training-card-item-6 {
        grid-column: span 6;
        grid-row: span 4;
    }

    /* TTraining section style end */

}