/* font inter */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font dancing script */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    /* background-color: rgb(11, 205, 235); */
    background-color: black;
}

h2{
    color: rgb(255, 255, 255);
    font-family: Inter;    
    font-size: 3rem;
    font-weight: 900;  
    margin: 14px auto;  
}

p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;    
    font-size: 1rem;    
    font-weight: 400;
}

.header-body ,.footer-body{
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}

.body-background{
    max-width: 1060px;
    margin: 0 auto;
    padding: 1rem;    
    background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%);
}


.btn-primary{
    border-radius: 42px;
    background: rgb(230, 83, 60);
    color: white;
    padding: 1rem 2.5rem;
    border: none;
    margin-right: 16px;
    
}
.btn-secondary{
    border-radius: 42px;
    background: transparent;
    color: white;
    padding: 1rem 2.5rem;
    border: 1px solid white;
    
}

/* nav bar style start */

.nav-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px 0px;
}
.nav-content h1{
    color: rgb(230, 83, 60);
    font-family: Inter;    
    font-size: 2.2rem;    
    font-weight: 800;
} 

.nav-option {
    width: 465px;
    height: 46px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
}

.nav-btn{
    width: 92px;
    height: 38px;
    border-radius: 46px;
    border: none;
    color: white;
    margin: 3px 10px;
    background-color: transparent;
    cursor: pointer;
}
#btn-1{
    background-color: rgb(230, 83, 60);
}

.btn-R{
    display: none;
    margin-right: 20px;
}
.nav-btn:hover{
    background-color: rgb(230, 83, 60);
}

/* nav bar style end */


/* banner style start */

.banner-content{
    display: flex;
    justify-content: space-between;
}
.banner-text{
    width: 60%;
    text-align: left;
}
.banner-text{
    /* border: 2px solid red; */
    width: 50%;
    text-align: left;
}
.banner-text h1{
    /* border: 2px solid red; */
    color: rgb(255, 255, 255);
    font-family: Inter;    
    font-size: 4.5rem;    
    font-weight: 900;
    margin-top: 100px;
    margin-bottom: 24px;
}
h1 span{
    font-family: "Dancing Script", cursive;
}
.banner-text p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;    
    font-size: 1rem;    
    font-weight: 400;
    margin-bottom: 1.5rem;
}
.banner-image{
    margin: 0px 10px;
    position: relative;
}

.banner-image img{
    width: 100%;
    height: auto;
    max-width: 349px;
    max-height: 580px;
}
.banner-card1{
    position: absolute;
    top: 10rem;
    right: -30%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1); 
    color: white;   
    padding: 1rem 1.5rem;
}
.banner-card2{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    bottom: 4.5rem;
    left: -28%;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1); 
    color: white;   
    padding: 16px 16px;
}

.card2-icon{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: rgb(230, 83, 60);
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Banner style end */

/* Habbit style end */

.habbit-content{
    max-width: 1060px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
}
.habbit-content p{
    width: 671px;
    height: 48px;
    text-align: center;
}

.habbit-card{
    width: 100%;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    justify-content: center;
    align-items: center;
    gap: 40px;
}
.habbit-card-item{
    /* border: 2px solid red; */
    width: 231px;
    height: 334px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.habbit-card-item img{
    border-radius: 50%;
    margin-bottom: 14px;
}
.habbit-card-item h6{
    color: rgb(255, 255, 255);
    font-family: Inter;    
    font-size: 1.1rem;    
    font-weight: 600;
    text-align: center;
    margin-bottom: 14px;
}
.habbit-card-item p{
    width: 100%;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;    
    font-size: 0.9rem;    
    font-weight: 400;
    text-align: center;
    margin-bottom: 14px;
}


/* Habbit style end */


/* Run section style start */

.run-content{
    max-width: 1060px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 18px;
    background: rgb(34, 34, 34);    
}
.run-container-text{
    width: 45%;
    padding: 20px;
    margin-left: 50px;
}
.run-container-text p{
    margin-bottom: 24px;
}
.run-container-image {
    display: flex;
    justify-content: flex-end;
    overflow: hidden; 
}

.run-container-image img {
    width: 366px;
    height: 312px;
    border-radius: 16px; 
    margin: 30px;
}

/* Run section style end */

/* Training style end */

.Training-content{
    max-width: 1060px;
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    gap: 48px;
}
.Training-content h2,.Training-content p{
    margin-left:1rem;
}


.Training-card {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(12, 1fr);
    gap: 0px;
}

.Training-card-item {
    width: 100%;
    height: 210px;
    position: relative;
}

.Training-card-item-1 {
    grid-column: span 3;
    grid-row: span 6;
    background-image: url('../images/exercise1.jpg'), linear-gradient(rgba(6, 255, 210, 0.5), rgba(6, 255, 210, 0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    padding: 1.2rem;
    
}

.Training-card-item-2 {
    grid-column: span 6;
    grid-row: span 6;
    background-image: url('../images/exercise2.png'), linear-gradient(rgba(255, 0, 0, 0.3), rgba(255, 0, 0, 0.3));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 0 auto;
    padding: 1.2rem;
}

.Training-card-item-3 {
    grid-column: span 3;
    grid-row: span 6;
    background-image: url('../images/exercise3.png'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    padding: 1.2rem;
}

.Training-card-item-4 {
    grid-column: span 5;
    grid-row: span 6;
    background-image: url('../images/exercise4.png'), linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 0 auto;
    padding-left : 50%;
    padding-top: 1.2rem;
}

.Training-card-item-5 {
    grid-column: span 3;
    grid-row: span 6;
    background-image: url('../images/exercise5.jpg'), linear-gradient(rgba(66, 255, 0, 0.3), rgba(66, 255, 0, 0.3));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    padding: 1.2rem;
}

.Training-card-item-6 {
    grid-column: span 4;
    grid-row: span 6;
    background-image: url('../images/exercise6.jpg'), linear-gradient(rgba(0, 71, 255, 0.3), rgba(0, 71, 255, 0.3));
    background-blend-mode: overlay;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 210px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    margin: 0 auto;
    text-align: left;
    padding: 1.2rem;
}

/* Training style end */


/* BMI style start */

.BMI-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin: 0px auto;
    text-align: center;
}

.BMI-card{
    width:100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    justify-content: space-evenly;
    margin: 0px 50px;
    background-color: rgb(34, 34, 34);
}

.BMI-chart{
    width: 40%;
    margin: 20px auto 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.BMI-text h4{
    color: rgb(255, 255, 255);
    font-family: Inter;    
    font-size: 1.5rem;    
    font-weight: 900;   
    margin: 3rem 0; 
}
table{
    border: 1px solid white;
    color: white;
    padding: .5rem;
    border-collapse: collapse;
}
table th, td{
    padding: .5rem;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.BMI-input{
    width: 75%;
    margin: 40px 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}
.BMI-input h4{
    color: rgb(255, 255, 255);
    font-family: Inter;    
    font-size: 1.5rem;    
    font-weight: 900;   
    margin: 1rem 0; 
}

.input-field{
    width: 100%;
    margin: 2rem 0rem;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;    
    font-size: 1rem;    
    font-weight: 400;
}

.input-1 input ,.input-2 input ,.input-2 select{
    width: 48%;
    height: 48px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;    
    font-size: 1rem;    
    font-weight: 400;
}
.input-3 select{
    width: 97%;
    height: 48px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;    
    font-size: 1rem;    
    font-weight: 400;
}

/* BMI style end */

/* Team style start */

.Team-content{
    max-width: 1060px;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 48px;
    padding: 4rem 0;
}
.Team-content h2,.Team-content p{
    width: 80%;
    margin:0 auto;
}


.Team-card {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    border-radius: 18px;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 2rem;
}

.Team-card-item {
    width: 100%;
    height: 270px;
    border-radius: 18px;
    position: relative;
}

.Team-card img { 
    border-radius: 18px;
    width: 100%;
    height:270px;
}

.Team-card h6{
    position: absolute;
    bottom: 2rem;
    left: 3rem;
    color: white;
    font-size: 1.5rem;    
    font-weight: 900;  
}

.Team-card p{
    position: absolute;
    bottom: .7rem;
    left: 3rem;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;    
    font-size: 1rem;    
    font-weight: 400;
}


/* Team style end */



/* My container (FAQ content)  style start */


#bg-image{
    width: 100%;
    margin: 0px auto;
    background-image: linear-gradient(rgba(33, 4, 69, 0.812), rgba(19, 5, 68, 0.669)), 
    url("../images/my-section.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.my-container{
    text-align: center;
    color:white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
    padding: 50px 0px;
    text-align: center;
}
.my-container p{
    width: 90%;
    margin: 0px auto;

}

.my-card {
    max-width: 1080px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;  
}

.FAQ-box {
    /* border: 2px solid red; */
    width: 100%;
    padding: 3rem;
    display: flex;
    justify-content: center;
    text-align: left;
    border-radius: 18px;
    background: rgba(34, 34, 34, 0.5);    
}
.previous,.next{ 
    height: 100%;
    display: flex;
    /* flex-direction: column; */
    justify-content:center;
    align-items: center; 
    text-align: center;
}

.FAQ-text img {
    width: 100%;
    height: auto;
    border-radius: 16px;
}
.FAQ-text h4 {
    color: rgb(255, 255, 255);
    font-family: Inter;    
    font-size: 1.5rem;    
    font-weight: 900;   
    margin: 1rem 2rem; 
}

.FAQ-text p {
    color: rgb(255, 255, 255);
    font-family: Inter;    
    font-size: 1rem;    
    font-weight: 400;   
    margin: 1rem 2rem; 
}

.FAQ-input {
    /* border: 2px solid rgb(111, 0, 255); */
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 3rem;
}
.FAQ-input h4{
    color: rgb(255, 255, 255);
    font-family: Inter;    
    font-size: 1.5rem;    
    font-weight: 900;   
    margin: 1rem 0; 
}

.FAQ-input-field{
    width: 100%;
    margin: 2rem 0rem;
    color: rgba(255, 255, 255, 0.6);
    font-family: Inter;    
    font-size: 16px;    
    font-weight: 400;
}

.FAQ-input-1 input,.FAQ-input-2 input{
    width: 80%;
    height: 48px;
    border: none;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    padding: 1rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255);
    font-family: Inter;    
    font-size: 16px;    
    font-weight: 400;
}


textarea {
    width: 80%;
    height: 150px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical; 
    background: rgba(255, 255, 255, 0.1);
        padding: 1rem;
    margin-bottom: 1rem;
    color: rgba(255, 255, 255);
    font-family: Inter;    
    font-size: 16px;    
    font-weight: 400;
    
}
.FAQ-hr{
    width: 70%;
    margin: 40px auto;
    border: 2px solid rgba(209, 208, 208, 0.932);
    

}
.join-meeting{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 20px auto;
    background: rgba(34, 34, 34, 0.8); 
    border: 2px solid rgb(230, 83, 60);  
}
.join-meeting p ,.join-meeting button{
    margin-bottom: 20px;
}


/* My container (FAQ content)  style end */


/* footer style start */

.footer-container{
    height: 400px;
    max-width: 1060px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(12,1fr);
    justify-content: space-between;
    gap: 24px;
}
.footer-card-1{
    grid-column: 1/span 4;
    text-align: left;
}
.footer-card-2{
    grid-column: 6/span 3;
    text-align: left;
}
.footer-card-3{
    grid-column: 9/span 3;
    text-align: left;
}
.footer-card-1 h1{
    color: rgb(230, 83, 60);
    font-family: Inter;    
    font-size: 4.5rem;    
    font-weight: 800;
    margin: 1rem 0;
}
.footer-card-1 p{
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;    
    font-size: 0.8rem;    
    font-weight: 400;    
    line-height: 24px;

}
.footer-card-2 h3,.footer-card-3 h3{
    color: rgb(255, 255, 255);
    font-family: Inter;    
    font-size: 2rem;    
    font-weight: 700;
    margin: 2rem 0;
}

.footer-card-2 li,.footer-card-3 li{
    list-style: none;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;    
    font-size: 1.2rem;    
    font-weight: 400;
    margin: 1.2rem 0;
}

hr{
    max-width: 1060px;
    border: 2px solid rgba(255, 255, 255, 0.1);
    margin: 0px auto;
}
.copyright{
    max-width: 1060px;
    margin: 0px auto;
    text-align: center;
    padding: 1rem;
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
}

/* footer style end */
